* {
  box-sizing: border-box;
}
.header, .location-container, .sixteen-week-container {
  display: flex;
}
li {
  list-style: none;
}
.sixteen-week-container,
.location-container {

  justify-content: center;
  flex-wrap: wrap;
}

.city-weather {
  border:1px solid #a1bcc9;
  text-align: center;
  padding: 10px 0;
  margin: 5px;
  border-radius: 5px;
}
.city-weather-nested {
  background-color:#a1bcc9;
  padding-top: 6px;
  margin-top:5px;
  min-height: 82px;
}
.city-weather-nested .description{
  color: white;
  font-size: smaller;
}
.city-weather-nested .date{
  font-size: smaller;
}

.sixteen-week-container {
  padding: 0;
}
.sixteen-week-container p{
  margin-bottom: 0;
}
.header {
  justify-content: space-between;
}

.min-max{
  font-size: x-small;
}
